<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الصفحة الرئيسية</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="static/css/Home.css">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
              <img class="logo" src="static/img/Logo.png" width="100" height="35">
            </a>
          </div>
      
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> الحساب <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="logintemplate">تسجيل الدخول</a></li>
                      <li><a href="signuptemplate">تسجيل جديد</a></li>
                    </ul>
                  </li>
              <li><a href="auction">السوق المركزي</a></li>
              <li class="active"><a href="#">الصفحة الرئيسية<span class="sr-only">(current)</span></a></li>
            </ul>
          </div>
        </div>
      </nav>
      
      <div class="col-md-12 BG1 parallax">
        <div class="txt col-sm-11 col-md-10">
          <strong class="str">نوافع</strong>
          <h1> منصة اسواق النفع العام</h1>
        </div>
      </div>

      <div class="col-md-12 about parallax">
        <div class="txt col-sm-11 col-md-10">
            <strong class="str">عن نوافع</strong>
            <h1 class="text-right"> تهتم المنصة بالحراجات والمزادات في مختلف الفئات وسيتم انشاء المنصة اعتمادا على نفس نظام الأسواق الحالية "خضار - فواكه - أسماك - أنعام ..الخ . 
              بحيث سيتم انشاء  نظام رقمي اقتصادي "مبتكر" لتنظيم وتسهيل عملية البيع والشراء في المزايدات في الأسواق المركزية 
              هذا  النظام سيساهم في نقل المزايدات بصورتها المعروفة الى نظام مزايدات الكتروني دعماً لتحقيق رؤية الوطن 2030 في التحول الرقمي.
              </h1>
          </div>
      </div>

      <div class="col-md-12 BG2 parallax">
        <div class="txt col-sm-11 col-md-10">
          <strong class="str">تواصل معنا</strong>
          <div class="container">
          <a href="#">
            <img class="img" src="static/img/twitter.png" width="90" height="95">
          </a>
          <a href="#">
            <img class="img" src="static/img/linkrdin.png" width="80" height="90">
          </a>
          <a href="#">
            <img class="img" src="static/img/email.png" width="100" height="100"">
          </a>
          </div>
        </div>
      </div>

      <div class="col-md-12 footer">
        <script>
        document.write(' جميع الحقوق محفوظة، نوافع ');
        document.write(new Date().getFullYear());
        document.write(' Copyright ');
        document.write(' &copy; ');
        </script>
      </div>
    
</body>
</html>