<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>المزاد</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="static/css/Auction.css">
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img class="logo" src="static/img/Logo.png" width="100" height="35">
              </a>
            </div>
      
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> الحساب <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="logintemplate">تسجيل الدخول</a></li>
                      <li><a href="signuptemplate">تسجيل جديد</a></li>
                    </ul>
                  </li>
              <li class="active"><a href="auctiontemplate">السوق المركزي</a></li>
              <li><a href="home">الصفحة الرئيسية</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <h1 id="scroll" class="col-12-md display-3">السوق المركزي</h1><br>
  
      <div class="container">
            <div class="item col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <img class="group list-group-image" src="https://cdni.rt.com/media/pics/2020.09/original/5f59efdc4c59b7408c019c24.jpg" alt="" />
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">
                            جزر سعودي</h4>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p class="lead">
                                    $3</p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-danger" href="usertemplate">الدخول للمزاد</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <img class="group list-group-image" src="https://m.dw.com/image/44003636_403.jpg" alt="" />
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">
                            طماطم ريف القصيم</h4>
                        <p class="group inner list-group-item-text"></p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p class="lead">
                                    $21.000</p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-danger" href="usertemplate">الدخول للمزاد</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <img class="group list-group-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNxchlJbkDl-uTSrmdyPPalWjNhH3SDbiD1Q&usqp=CAU" alt="" />
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">
                            كيوي</h4>
                        <p class="group inner list-group-item-text"></p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p class="lead">
                                    $21.000</p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-danger" href="usertemplate">الدخول للمزاد</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <img class="group list-group-image" src="http://www.uaeaghnam.com/up/uploads/images/uaeaghnam-c7bb55eeef.jpg" alt="" />
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">
                            خروف نجدي جذع العمر 9 اشهر</h4>
                        <p class="group inner list-group-item-text"></p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p class="lead">
                                    $21.000</p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-danger" href="usertemplate">الدخول للمزاد</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        
        </div>
    </div>

    <div class="container col-10">
        <a href="productformtemplate"><button class="btn success">+</button></a>
    </div>

      <div class="col-md-12 footer">
        <script>
        document.write(' جميع الحقوق محفوظة، نوافع ');
        document.write(new Date().getFullYear());
        document.write(' Copyright ');
        document.write(' &copy; ');
        </script>
      </div>
    
</body>
</html>