<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>اضافة سلعة</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="static/css/ProductForm.css">
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <img class="logo" src="static/img/Logo.png" width="100" height="40">
          </div>
      
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> الحساب <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="logintemplate">تسجيل الدخول</a></li>
                      <li><a href="signuptemplate">تسجيل جديد</a></li>
                    </ul>
                  </li>
              <li class="active"><a href="auction">السوق المركزي</a></li>
              <li><a href="home">الصفحة الرئيسية</a></li>
            </ul>
          </div>
        </div>
      </nav>

    <div class="container">
        <div class="row">
          <div class="left col-xs-12 col-md-4 col-lg-4"></div>
          
          <div class="col-xs-12 col-md-8 col-lg-8">
              <h1 class="text-center">اضافة سلعة داخل السوق المركزي</h1> <br>
              <form action="/auction" method="post">                  <label for="name"><b>اسم السلعة</b></label>
                  <input type="text" placeholder="ادخال اسم السلعة" name="title" id="email" required>

                  <label for="name2"><b>اسم المورد</b></label>
                  <input type="text" placeholder="ادخال اسم المورد" name="name2" id="email" required>

                  <label for="price"><b>سعر السلعة</b></label>
                  <input type="text" placeholder="ادخال سعر السلعة" name="name2" id="email" required>

                  <div class="form-group">
                    <label for="description">وصف للسلعة</label>
                    <textarea class="form-control" id="description" name="description" cols="10" rows="10"></textarea>
                  </div>

                  <div class="form-group">
                    <label for="Picture">صورة للسلعة</label>
                    <input type="file" class="form-control-file" id="Picture">
                  </div>

                  <button type="submit" class="btn success">ارسال للوسيط</button>
                  <button type="submit" class="btn success">ارسال للسوق</button>
                </form>
          </div>
        </div>
    </div>


      <div class="col-md-12 footer">
        <script>
        document.write(' جميع الحقوق محفوظة، نوافع ');
        document.write(new Date().getFullYear());
        document.write(' Copyright ');
        document.write(' &copy; ');
        </script>
      </div>
    
</body>
</html>